*{
    margin: 0;
    padding: 0;
}
.começo {
      background-color: lightslategray;
      color: black;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 24px 0;    
}
.imagem-cabeçalho {
        width: 15%;
        
}
.item-um{
    display: inline-block;
    margin: 0 20px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.imagem-santo{
         width: 35%;
         margin-left: 10%;
         
}

.colegio{
        background-image: linear-gradient( lightslategray, white);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0; 
    

}
.colegio-div{
       width: 25%;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.paragrafo{
     padding: 20px 0;

}

.imagem-professor{
      width: 40%;
      margin-left: 20%;
      margin-right: 15%;
} 

.div-turmas{
    display: inline-block;
        justify-content:center;
        align-items:center ;
        padding: 20px 0; 
}

.turmas {
    display: flex;
    border-radius: 15px;

}

.texto-turmas{
      font-size: 20px;
      padding-bottom: 10px;
      margin-left: 8px;

}

.lista-manhã{
     font-size: 20px;
     padding-bottom: 15px;
}

.lista-tarde{
    font-size: 20px;
     padding-bottom: 15px;
    
}
.lista-noite{
    font-size: 20px;
     padding-bottom: 15px;
}

.descrição-turmas{
    font-size: 20px;
    color:green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 5px;
    margin-left: 8px;
}
.quais-turmas{
    font-size: 20px;
    padding-top: 10px;
    margin-left: 8px;
}

.listas{
        margin-left: 8px;
        border-width: 3px 3px 3px 3px;
        border-color: lightgreen;
        border-style:solid;
        margin: 10px; 
}


.texto-monitoria{
    font-size: 20px;
    padding-bottom: 15px;
}

.texto-gremio{
    font-size: 20px;
    padding-bottom: 15px;
}

.volei{
    font-size: 20px;
    padding-bottom: 15px;
}

.mais-aprendizagem{
    font-size: 20px;
    padding-bottom: 15px;
}

.edutech{
    font-size: 20px;
    padding-bottom: 15px;
}

.subtitulos-um{
    font-size: 25px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}
.subtitulos-dois{
    font-size: 25px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}
.subtitulos-tres{
    font-size: 25px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}
.subtitulos-quatro{
    font-size: 25px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}
.subtitulos-cinco{
    font-size: 25px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}























